Analysis of the export_xls folder

In [6]:
# ! pip install pandas seaborn matplotlib
! pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib

In [8]:
df = pd.read_excel("export_xls\Stat_lectures_20241002.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Christophe OLIVERES\AppData\Local\Temp\ipykernel_4160\3890875405.py:1: SyntaxWarning: invalid escape sequence '\S'
  df = pd.read_excel("export_xls\Stat_lectures_20241002.xlsx")

In [9]:
df.head()

,id_book,page,Temps passé sur la page en seconde,heure de début,Temps de lecture en minute,id long,Temps de lecture en heure,date lecture,Heure de début de lecture,Heure,Heure en décimal,Jour Précédent,Est Consécutif,Début Groupe,Groupe,Nombre de Jours Consécutifs,total_pages,date fin 2
0,44,206,49,2024-05-29 22:08:54,0.8,44,0.013611,2024-05-29,22:08:00,22,22.15,2024-05-28,1,NaT,2024-05-24,132,568,NaN
1,44,210,29,2024-05-29 22:11:05,0.5,44,0.008056,2024-05-29,22:11:00,22,22.18,2024-05-28,1,NaT,2024-05-24,132,568,NaN
2,44,225,36,2024-05-29 22:19:09,0.6,44,0.010000,2024-05-29,22:19:00,22,22.32,2024-05-28,1,NaT,2024-05-24,132,568,NaN
3,44,211,39,2024-05-29 22:11:34,0.7,44,0.010833,2024-05-29,22:11:00,22,22.19,2024-05-28,1,NaT,2024-05-24,132,568,NaN
4,44,226,40,2024-05-29 22:19:45,0.7,44,0.011111,2024-05-29,22:19:00,22,22.33,2024-05-28,1,NaT,2024-05-24,132,568,NaN