In [2]:
import sqlite3

In [15]:
con = sqlite3.connect("sqlite\20240930statistics.sqlite3.db")

In [16]:
cur = con.execute("SELECT * FROM book")
rows = cur.fetchall()

OperationalError: no such table: book